body {
  font-family: "Noto Sans JP", sans-serif;
  color: azure;
  background: #000 url(/images/blurry-gradient-haikei.svg);
  background-size: 100%;
  margin-top: 0px;
}

/* standart font 15px, headers 20px or 30px */

#main_header {
  display: block;
  text-align: center;
  /* background-color: azure; */
  /* opacity: 40%; */
}
.info {
  background-color: azure;
  color: #000;
  /* color: rgb(255, 255, 255); */
  border-radius: 7%;
  opacity: 88%;
  text-align: justify;
  width: auto;
  height: auto;
  padding: 15px;
  margin-top: 15px;
}
.info h2 {
  overflow: hidden;
  text-align: center;
}
#firstblock img {
  width: 200px;
  height: 200px;
  float: right;
  padding-top: 86px;
  padding-left: 50px;
}
#secblock img {
  width: 180px;
  height: 180px;
  float: left;
  padding-top: 55px;
  padding-right: 35px;
}
table {
  /* border: 3px solid black; */
  /* border-collapse: collapse; */
  margin-left: auto;
  margin-right: auto;
  width: 120vh;
  height: 30vh;
}
td {
  /* border: 3px solid black; */
  padding: 15px;
  /* text-align: center; */
  text-align: justify;
}
#thirdblock img {
  height: 80px;
  width: 80px;
}
#thirdblock caption {
  font-size: 30px;
}
